**/.port_coordination
**/alluxio-site.properties
**/nb-configuration*.xml
**/nbproject/
*.iml
*.pyc
*.swo
*.swp
*~
.checkstyle
.classpath
.idea/
.metadata/
.port_coordination/
.project
.settings/
/lib/
/logs/*.log*
/logs/*.out*
/logs/user/*
dependency-reduced-pom.xml
target/
tests.log*
